<div id="home">
	<div class="content">
		<form method="post" action="/weather">
	    ENTER YOUR LOCATION<br>BY ZIP CODE <br><input type="text" name="post[location]" placeholder="Your Location" class="entry" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Location'" />
	    <input type="submit" name="Search" value="FORECAST ME!" class="submit" />
	    </form>
	</div>
</div>