<!DOCTYPE html>
<html>
    <head>
        <title>Weather App</title>
        <meta charset="utf-8">
        <link href= "<%= url("weather_style.css") %>" rel="stylesheet" type="text/css">
        <link href='http://fonts.googleapis.com/css?family=Montserrat' rel='stylesheet' type='text/css'>
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    </head>
    <body>    

		<%= yield %>

    </body>
</html>